<div class="entry">
  <span>
    <input type="number" class="id-number" placeholder="ID Number">
  </span>
  <span>
    <input type="text" class="first-name" placeholder="First Name">
  </span>
  <span>
    <input type="text" class="last-name" placeholder="Last Name">
  </span>
</div>
